* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #181818;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

hr {
  color: #181818;
  max-width: 1200px;
}

.content, .heroab__content, .contacto__container, .heroc__content, .hero__content, .header__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 30px 20px;
  background-color: #181818;
  box-shadow: 0 0 30px 0 rgb(0, 0, 0);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container-navbar {
  display: none;
}
.header__container-navbar li {
  margin: 0 15px;
}
.header__container-navbar li a {
  color: red;
}
.header__container-navbar li a:hover {
  color: gold;
}
.header__container-navbar-mobile i {
  font-size: 35px;
  color: white;
}
.header__container-navbar-mobile ul {
  position: absolute;
  left: 0;
  top: 100px;
  background-color: #181818;
  width: 100%;
  display: none;
  box-shadow: 0 0 30px 0 rgb(0, 0, 0);
}
.header__container-navbar-mobile ul li {
  padding: 10px 0;
  text-align: start;
}
.header__container-navbar-mobile ul li a {
  font-weight: bold;
  color: red;
}
.header__container-navbar-mobile ul li a:hover {
  color: gold;
}
.header__container-navbar-mobile:hover ul {
  display: block;
}

@media (min-width: 768px) {
  .header__container-navbar {
    display: flex;
  }
  .header__container-navbar-mobile {
    display: none;
  }
}
.hero {
  padding: 20px;
}
.hero__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px 0 rgb(0, 0, 0);
}
.hero__content-data {
  padding: 20px;
  text-align: center;
}
.hero__content-data span {
  color: red;
}
.hero__content-data a {
  color: red;
}
.hero__content-img {
  padding: 30px;
}

@media (min-width: 992px) {
  .hero__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3;
    gap: 10px;
    align-items: center;
  }
  .hero__content-data {
    text-align: start;
  }
}
.heroc {
  padding: 20px;
}
.heroc__content {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  justify-content: center;
}
.heroc__content-img1 {
  padding: 1px;
  box-shadow: 0 0 30px 0 rgb(0, 0, 0);
  overflow: hidden;
}
.heroc__content-img2 {
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 1px;
  box-shadow: 0 0 30px 0 rgb(0, 0, 0);
}

@media (min-width: 992px) {
  .heroc__content-img1 {
    overflow: unset;
  }
}
.contacto__container {
  padding: 50px;
}
.contacto__container-brand {
  padding: 30px;
  margin: 10px 0;
  text-align: center;
  font-size: 3em;
}
.contacto__container-brand span {
  color: red;
}
.contacto__container-wrap {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  background-color: #222;
  padding: 1em;
}
.contacto__container-wrap-form form {
  margin: 0;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.contacto__container-wrap-form form .block {
  grid-column: 1/3;
}
.contacto__container-wrap-form form button {
  width: 100%;
  padding: 0.7em;
  border: none;
  background-color: red;
  color: white;
  border-bottom: 1px solid red;
  text-transform: uppercase;
  padding: 1em;
  cursor: pointer;
}
.contacto__container-wrap-form form button:active {
  transform: translateY(1px);
  box-shadow: 0 5px tomato;
}
.contacto__container-wrap-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  outline: 0;
  color: red;
  background: none;
  border-bottom: 1px solid red;
}
.contacto__container-wrap-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  outline: 0;
  color: red;
  background: none;
  border-bottom: 1px solid red;
}

@media (min-width: 768px) {
  .contacto__container {
    max-width: 1100px;
    padding: 50px;
  }
}
.heroab {
  width: 100%;
  margin-top: 30px;
  background-color: #181818;
}
.heroab__content {
  width: 100%;
  padding: 30px;
  display: grid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  box-shadow: 0 0 30px 0 rgb(0, 0, 0);
}
.heroab__content-info {
  padding: 30px;
}
.heroab__content-info h2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.heroab__content-info h2 span {
  color: red;
}
.heroab__content-info p {
  text-align: justify;
  padding: 10px;
}
.heroab__content-info p span {
  color: red;
}
.heroab__content-info small {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  color: red;
}

@media (min-width: 992px) {
  .heroab__content {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .heroab__content-img {
    display: flex;
    align-items: start;
  }
}
