.header {
    padding: 30px 20px;
    background-color: #181818;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 10);
    // position: sticky;
    // top: 0;
    // z-index: 1;

    &__container {
        @extend .content;
        // max-width: 1100px;
        // margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-navbar {
            display: none;

            li {
                margin: 0 15px;

                a {
                    color: red;
                    &:hover {
                        color: gold;
                    }
                }
            }
        }
        &-navbar-mobile {

            i {
                font-size: 35px;
                color: white;
            }
            ul {
                position: absolute;
                left: 0;
                top: 100px;
                background-color: #181818;
                width: 100%;
                display: none;
                box-shadow: 0 0 30px 0 rgba(0, 0, 0, 10);

                li {
                    padding: 10px 0;
                    text-align: start ;

                    a {
                        font-weight: bold;
                        color: red;

                        &:hover {
                            color: gold;
                        }
                    }
                }
            }

            &:hover ul {
                display: block;
            }
        }
    }
}

@media (min-width: 768px) {
.header__container-navbar {
    display: flex;
}
.header__container-navbar-mobile {
    display: none;
}

}