* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #181818;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

p {
    line-height: 1.5;
}

hr {
    color: #181818;
    max-width: 1200px;
}

// variables 

//colores
$oxiRed: red;

//breakpoints
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

//extend
.content {
    max-width: 1200px;
    margin: 0 auto;
}